body {
    font-family: 'Imprima', sans-serif;
    font-weight: normal;
    font-size: 100%;
    width: 80%;
    /* Center the page */
    margin: 0 auto;
    background-color: #EEEEEE;
}

header {
    padding-top: 1em;
    padding-bottom: .25em;
    font-size: 3em;
    border-bottom: 2px solid #efa609;
}

footer {
    border-top: 2px solid #efa609;
    padding-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

address {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    display: inline-block;
}

img {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

ul {
    font-size: 1.5em;
    display: inline-block;
    width: 25%;
}

a {
    color: #efa609;
}